.card__title {
  @include heading-large($font-size: 1.3rem);
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subtitle {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: $gray;
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button;
}

// Variations
.card--bg {
  background-color: $gray-lightest;
  padding: 1em;
}

.card-text {
h2.card-heading__title {
    width: 678px;
    height: 64px;
    font-family: TradeGothicLTStd;
    font-size: 33.2px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 4px;
    text-align: center;
    color: var(--grey-10);
    margin: 96px auto;
    margin-bottom: 40px
}

button.button {
    margin-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
    width: 356px;
}


    text-align: center;
}
