.banner-container {
    height: 561px;
    text-align: center;
    padding: 50px;
    
	picture.image {
	        width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
	}

	div >  div {
    width: 656px;
        margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
	a {
    color: white;
    text-decoration: none;
    }
    .card__button {	height: 47px;	width: 280px;	border-radius: 2px;	background-color: #AC0535;}

    color: #FFFFFF;	font-family: Heebo;	font-size: 23.04px;	line-height: 32px;	text-align: center;
}